<div class="container">
  <button type="button" (click)="changeData('Primary')" class="btn active btnLink btn-primary">Primary</button>
  <button type="button" (click)="changeData('Secondary')" class="btn btnLink btn-secondary">Secondary</button>
  <button type="button" (click)="changeData('Success')" class="btn btnLink btn-success">Success</button>
  <button type="button" (click)="changeData('Danger')" class="btn btnLink btn-danger">Danger</button>

  <!-- primary -->
  <div class="row mt-4" *ngIf="primary">
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/7173203/pexels-photo-7173203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/7173203/pexels-photo-7173203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/7173203/pexels-photo-7173203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/7173203/pexels-photo-7173203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/7173203/pexels-photo-7173203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/7173203/pexels-photo-7173203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/7173203/pexels-photo-7173203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/7173203/pexels-photo-7173203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>


  </div>
  <!-- primary -->


  <!-- Seconday -->
  <div class="row mt-4" *ngIf="secondary">
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/12106929/pexels-photo-12106929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/12106929/pexels-photo-12106929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/12106929/pexels-photo-12106929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/12106929/pexels-photo-12106929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/12106929/pexels-photo-12106929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/12106929/pexels-photo-12106929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/12106929/pexels-photo-12106929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/12106929/pexels-photo-12106929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>


  </div>
  <!-- Seconday -->

  <!-- Success -->
  <div class="row mt-4" *ngIf="success">
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11920150/pexels-photo-11920150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11920150/pexels-photo-11920150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11920150/pexels-photo-11920150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11920150/pexels-photo-11920150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11920150/pexels-photo-11920150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11920150/pexels-photo-11920150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11920150/pexels-photo-11920150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11920150/pexels-photo-11920150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>


  </div>
  <!-- Success -->

  <!-- Danger -->
  <div class="row mt-4" *ngIf="danger">
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11506984/pexels-photo-11506984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11506984/pexels-photo-11506984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11506984/pexels-photo-11506984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11506984/pexels-photo-11506984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11506984/pexels-photo-11506984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11506984/pexels-photo-11506984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11506984/pexels-photo-11506984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11506984/pexels-photo-11506984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>


  </div>
  <!-- Danger -->




</div>